#playingRoom {
    margin: 0 auto;
}
#header {
    margin: 0 auto;
    width: 80%;
    text-align: center
}
#left {
    position: absolute;
    float: left;
    left: 0%;
}
#center {
    position: absolute;
    left: 50%;
    right: 50%;
}
#right {
    position: absolute;
    float: right;
    right: 0%;
}
.hand {
    width: 432px;
}
#cardTable {
    height: 240px;
    width: 432px;
    background-color: black;
    margin: 0 auto;
    border-radius: 50px;
}
