#playingRoom {
    margin: 0 auto;
}
#header {
    margin: 0 auto;
    width: 80%;
    text-align: center
}
#left {
    position: absolute;
    float: left;
    left: 0%;
}
#center {
    position: absolute;
    left: 50%;
    right: 50%;
}
#right {
    position: absolute;
    float: right;
    right: 0%;
}
.hand {
    width: 432px;
}
#cardTable {
    height: 240px;
    width: 432px;
    background-color: black;
    margin: 0 auto;
    border-radius: 50px;
    position: relative;
    text-align: center;
}
#playerTopPlayedCard {
    height: 96px;
    width: 72px;
    top: 5px;
    left: 180px;
    position: absolute;
}
#playerRightPlayedCard {
    height: 96px;
    width: 72px;
    position: absolute;
    right: 5px;
    top: 72px;
}
#playerBottomPlayedCard {
    height: 96px;
    width: 72px;
    position: absolute;
    left: 180px;
    bottom: 5px;
}
#playerLeftPlayedCard {
    height: 96px;
    width: 72px;
    position: absolute;
    left: 5px;
    top: 72px;
}
#playerLeftCards {
    float: right;
}
#playerLeftLabel {
    text-align: right;
}
#playerTopLabel {
    text-align: center;
}
#playerBottomLabel {
    text-align: center;
}

